textarea {
  height: 34px;
  box-sizing: border-box;
  flex: 1 1;
  border: none;
  outline: none;
  resize: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 18px;
  padding: 8px 9px;
  tab-size: 8;
  text-indent: 0px;
  text-rendering: auto;
  text-transform: none;
  margin-right: 4px;
  max-height: 80px;
}
